mixin template(name)
  script(id=name type='x/template')&attributes(attributes)
    block

mixin vue(obj)
  body&attributes(attributes)
    -if (obj && !!obj.el)
      div(id=obj.el class=obj.el)
        block
    -else
      #app.app
        block
    -if (obj && !!obj.script)
      script(src=obj.script)
    -else
      script(src='main.js')
