mixin template(name)
  script(id=name type='x/template')&attributes(attributes)
    block

mixin vue(obj)
  body&attributes(attributes)
    -if (obj.id)
      div(id=obj.id)
        block
    -else
      #app
        block
    -if (obj.script)
      script(src=obj.script)
    -else
      script(src='main.js')
